body {
    background-color: #393E46 !important;
    color: #EEEEEE !important;
}

/**** Newsletter Sign-Up Page  ****/
#sign-up-header{
    text-align: center;
    margin: 75px 0px 50px 0px;
}
/* Form */
.newsletterForm {
    border: 2px solid #222831;
    border-radius: 10px;
    color: #EEEEEE;
    max-width: 75%;
    margin: auto;
    padding: 25px;
}
.form-control {
    margin-bottom: 15px;
    background-clip: border-box;
    background-color: #EEEEEE !important;
    border: 1px solid #EEEEEE !important;
    color: #222831 !important;
}
.form-floating {
    color: #222831 !important;

}
.form-control:focus{
    box-shadow: inset 0px 0px 3px 2px rgba(0,173,181,0.58) !important;
}
.form-control:hover{
    box-shadow: inset 0px 0px 3px 2px rgba(0,173,181,0.58) !important;
}
.topics-header {
    text-align: center;
    margin: 15px 0 15px 0;
}
.topic-selection {
    text-align: center;
    margin: 10px 0px 15px 0px;
}
.form-check-input {
    background-color: #EEEEEE !important;
}
.form-check-input:checked {
    background-color: #222831 !important;
    border-color: #00ADB5 !important;
}
.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0,173,181,0.26) !important;
    border-color: #00ADB5 !important;
}
.submit-btn-div {
    text-align: center;
    margin: 30px 0 0 0;
    color: #222831 !important;
}
.submit-btn {
    background-color: #00ADB5 !important;
    width: 100% !important;
}
.submit-btn:hover {
    color: #00ADB5 !important;
    background-color: #EEEEEE !important;
}
.form-text {
    color: #EEEEEE !important;
    opacity: .80;
    max-width: 75%;
    margin: 0 auto 5px auto;
}

/****  Confirmation Page ****/
#confirmation-header {
    margin-top: 35px;
    font-size: calc(1.5rem + 1.5vw);
}
#confirmation-container {
    border: 1px solid #222831;
    margin: 75px auto 0 auto;
    padding-top: 30px;
    text-align: center;
    width: 75%;
}
#topics-selected {
    margin: 15px 0 15px 0;
    padding: 0;
    list-style: none;
}
#confirmation-hr {
    margin: 15px auto 10px auto;
    width: 50%;
    color: #00ADB5;
}
#confirmation-location {
    font-size: .75rem;
    margin: 5px 0 10px 0;
}
/**** Media Queries ****/
@media screen and (max-width: 1400px) {
    .topic-selection {
        text-align: left;
        padding-left: 75px;

    }
    .topics {
        display: block !important;
        max-width: 50% !important;
        margin: auto !important;
    }

}
@media screen and (max-width: 1199px) {
    #confirmation-container h3 {
        font-size: calc(1.3rem + .3vw);
    }
}
@media screen and (max-width: 991px) {
    .topic-selection {
        padding-left: 75px;
    }
    .topics {
        max-width: 75% !important;
    }
    #confirmation-hr {
        width: 70%;
    }
}
@media screen and (max-width: 767px) {
    .topic-selection {
        padding-left: 70px;
    }
    .topics {
        max-width: 100% !important;
    }
    #confirmation-hr {
        width: 75%;
    }
    #confirmation-location {
        font-size: .65rem;
    }
}
@media screen and (max-width: 488px) {
    .topic-selection {
        padding-left: 55px;
    }
    .topics {
        max-width: 100% !important;
    }
    #confirmation-container h3 {
        font-size: calc(1.2rem + .2vw);
    }
    #topics-selected {
        font-size: 13px;
    }
    #confirmation-hr {
        width: 80%;
    }
    #confirmation-location {
        font-size: .6rem;
    }
}
@media screen and (max-width: 450px) {
    .topics-header {
        font-size: 17px
    }
    .topic-selection {
        padding-left: 35px;
        font-size: 12px ;
    }
    .topics {
        max-width: 100% !important;
    }
    .form-control {
        font-size: 12px !important;
    }
    #confirmation-container {
        width: 80%;
    }
}
@media screen and (max-width: 400px) {
    #confirmation-container {
        width: 85%;
        padding-left: 10px;
        padding-right: 10px;
    }
}